.my_btn{
    margin: 2% 2% 2% 2% !important;
}
.my_main_h{
    background-color: #388E3C;
    color: white;
    margin-right: 5% !important;
    padding: 2% 2% 2% 2% !important;
}
.my_color{
    color:  #388E3C !important;
}

.my_main_h2{
    background-color: #388E3C;
    color: white;
    padding: 2% 2% 2% 2% !important;
}

.result{
    font-size: x-large !important;
}